@page
@using static PokéRepo.Models.ApiModels
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

@if (Model.Results != null && Model.Results.Any())
{
    @foreach (Result result in Model.Results)
    {
        <h1>@result.Name</h1>
        <h2>@result.Url</h2>
    }
}

@if (!string.IsNullOrEmpty(Model.ErrorMessage))
{
    <h1 class="text-danger">@Model.ErrorMessage</h1>
}

