@page
@model PokéRepo.Pages.PokemonDetailsModel
@{
}



<h1> Name: @Model.Pokemon.Name</h1>
<h2 class="bg-secondary">Experience: @Model.Pokemon.BaseExperience</h2>
<h2 class="btn-outline-danger">Height: @Model.Pokemon.Height</h2>
<h3 class="carousel-fade">Weight: @Model.Pokemon.Weight</h3>
